In [ ]:
import pandas as pd # type: ignore # type: ignore # type: ignore # type: ignore # type: ignore # type: ignore

In [ ]:
import numpy as np # type: ignore

In [4]:
df=pd.read_csv('listings_summary - listings_summary (1).csv')

In [5]:
df

,id,scrape_id,last_scraped,experiences_offered,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,...,review_scores_value,requires_license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2015,2.020000e+13,11/7/2018,none,2217,Ian,18-08-2008,"Key Biscayne, Florida, United States",within an hour,0.96,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,4,3.76
1,2695,2.020000e+13,11/7/2018,none,2986,Michael,16-09-2008,"Berlin, Berlin, Germany",NaN,NaN,...,10.0,t,NaN,f,f,flexible,f,f,1,1.42
2,3176,2.020000e+13,11/7/2018,none,3718,Britta,19-10-2008,"Coledale, New South Wales, Australia",within a day,1.00,...,9.0,t,NaN,t,f,strict_14_with_grace_period,f,f,1,1.25
3,3309,2.020000e+13,11/7/2018,none,4108,Jana,07-11-2008,"Berlin, Berlin, Germany",NaN,NaN,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,1,0.39
4,7071,2.020000e+13,11/7/2018,none,17391,Bright,16-05-2009,"Berlin, Berlin, Germany",within an hour,1.00,...,9.0,t,NaN,f,f,moderate,f,f,1,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,2.020000e+13,11/7/2018,none,87555909,Ulisses,02-08-2016,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,1,NaN
22548,29857108,2.020000e+13,11/7/2018,none,67537363,JÃ¶rg,17-04-2016,"Berlin, Berlin, Germany",within an hour,0.88,...,NaN,t,NaN,t,f,flexible,f,f,6,NaN
22549,29864272,2.020000e+13,11/7/2018,none,3146923,Martin,03-08-2012,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,2,NaN
22550,29866805,2.020000e+13,11/7/2018,none,36961901,Arte Luise,28-06-2015,"Berlin, Berlin, Germany",within a few hours,0.90,...,NaN,t,NaN,f,f,flexible,f,f,3,NaN
22551,29867352,2.020000e+13,11/7/2018,none,177464875,Sebastian,09-03-2018,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,1,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 76 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                22552 non-null  int64
 1   scrape_id                         22552 non-null  float64
 2   last_scraped                      22552 non-null  object
 3   experiences_offered               22552 non-null  object
 4   host_id                           22552 non-null  int64
 5   host_name                         22526 non-null  object
 6   host_since                        22526 non-null  object
 7   host_location                     22436 non-null  object
 8   host_response_time                9658 non-null   object
 9   host_response_rate                9657 non-null   float64
 10  host_acceptance_rate              0 non-null      float64
 11  host_is_superhost                 22526 non-null  object
 12  host_neighbourhood                17458 non-null  object
 13  host_listings_count               22526 non-null  float64
 14  host_total_listings_count         22526 non-null  float64
 15  host_verifications                22526 non-null  object
 16  host_has_profile_pic              22526 non-null  object
 17  host_identity_verified            22526 non-null  object
 18  street                            22552 non-null  object
 19  neighbourhood                     21421 non-null  object
 20  neighbourhood_cleansed            22552 non-null  object
 21  neighbourhood_group_cleansed      22552 non-null  object
 22  city                              22547 non-null  object
 23  state                             22468 non-null  object
 24  zipcode                           21896 non-null  object
 25  market                            22489 non-null  object
 26  smart_location                    22552 non-null  object
 27  country_code                      22552 non-null  object
 28  country                           22552 non-null  object
 29  latitude                          22552 non-null  float64
 30  longitude                         22552 non-null  float64
 31  is_location_exact                 22552 non-null  object
 32  property_type                     22552 non-null  object
 33  room_type                         22552 non-null  object
 34  accommodates                      22552 non-null  int64
 35  bathrooms                         22520 non-null  float64
 36  bedrooms                          22534 non-null  float64
 37  beds                              22512 non-null  float64
 38  bed_type                          22552 non-null  object
 39  amenities                         22552 non-null  object
 40  square_feet                       446 non-null    float64
 41  price                             22552 non-null  object
 42  weekly_price                      3681 non-null   object
 43  monthly_price                     2659 non-null   object
 44  security_deposit                  13191 non-null  object
 45  cleaning_fee                      15406 non-null  object
 46  guests_included                   22552 non-null  int64
 47  extra_people                      22552 non-null  object
 48  minimum_nights                    22552 non-null  int64
 49  maximum_nights                    22552 non-null  int64
 50  calendar_updated                  22552 non-null  object
 51  has_availability                  22552 non-null  object
 52  availability_30                   22552 non-null  int64
 53  availability_60                   22552 non-null  int64
 54  availability_90                   22552 non-null  int64
 55  availability_365                  22552 non-null  int64
 56  calendar_last_scraped             22552 non-null  int64
 57  number_of_reviews                 22552 non-null  int64
 58  first_review                      18638 non-null  float64
 59  last_review                       18644 non-null  float64
 60  review_scores_rating              18163 non-null  float64
 61  review_scores_accuracy            18138 non-null  float64
 62  review_scores_cleanliness         18141 non-null  float64
 63  review_scores_checkin             18120 non-null  float64
 64  review_scores_communication       18134 non-null  float64
 65  review_scores_location            18121 non-null  float64
 66  review_scores_value               18117 non-null  float64
 67  requires_license                  22552 non-null  object
 68  jurisdiction_names                0 non-null      float64
 69  instant_bookable                  22552 non-null  object
 70  is_business_travel_ready          22552 non-null  object
 71  cancellation_policy               22552 non-null  object
 72  require_guest_profile_picture     22552 non-null  object
 73  require_guest_phone_verification  22552 non-null  object
 74  calculated_host_listings_count    22552 non-null  int64
 75  reviews_per_month                 18638 non-null  float64
dtypes: float64(22), int64(13), object(41)
memory usage: 13.1+ MB

In [ ]:

print("All libraries are installed successfully!")

All libraries are installed successfully!